
body{
  /* background-color: #faf0e6; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #000;
}
body{
  background-color: #000000;
}

.btn {
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  transition: 200ms;
  width: 15vh;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  align-items: center;
}

  .btn:not(:disabled):hover,
  .btn:not(:disabled):focus {
    outline: 0;
    background: white;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
  }

.btn:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
  }

.api{
  display: flex;
  flex-direction: column;
  gap: 4em;
  padding: 40px;
}
.show_time {
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.quote_of_the_day {
  display: flex;
  gap: 2em;
}

.event{
  display: flex;
  gap: 2em;
}