
body{
  /* background-color: #faf0e6; */
  margin: 0 auto;
  text-align: center;
  background-color: #faf0e6;
}

p{
  font-size: 400;
}
/* body{
  background-color: #000000;
} */

.btn_page1 {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding: 30px;
}

.btn_page2 {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding: 30px;
}


.btn {
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  transition: 200ms;
  width: 15vh;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  align-items: center;
  gap: 2em;
}

  .btn:not(:disabled):hover,
  .btn:not(:disabled):focus {
    outline: 0;
    background: white;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
  }

.btn:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
  }

.section1{
  display: flex;
  flex-direction: column;
  gap: 4em;
  padding: 20px;
}

.section2{
  display: flex;
  flex-direction: column;
  gap: 4em;
  padding: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  padding: 5px; 
}

textarea {
  width: 100%;
  max-width: 600px; 
  height: 150px; 
  max-height: 300px; 
  gap: 10px;
  resize: vertical; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  color: #2980B9;
  box-shadow: 0px 2px 4px rgba(241, 71, 148, 0.1);
}

.btn_list_markdown {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn_list_markdown:hover {
    background-color: #2980b9; 
}

.show_time,
.quote_of_the_day,
.event,
.joke,
.recipe,
.mocktail{
  border: 1px solid #333;
  padding: 20px;
  border-radius: 8px;
}

.mocktail{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.quote_of_the_day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  p {
    font-size: 25px;
  }
}

.event{
  h3{
    font-size: 20px;
    color: #d9534f;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.img_mocktail {
  width: 200px;
  height: 150px;
}

.img_recipe {
  width: 200px;
  height: 150px;
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  max-height: 600px;
  padding: 20px;
  background-color: #faf0e6;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  overflow-y: auto;

}

.dialog h2, .dialog h3, .dialog p, .dialog ul {
  margin: 0;
  list-style-type: none;
  padding: 5px;
}
.dialog p {
  font-size: 400;
}

.dialog h2 {
  color: #D9534F; 
  font-weight: bold;
  text-align: center;
}

.dialog h3 {
  color: #688bae; 
  font-weight: bold;
}
.dialog button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498DB;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.dialog button:hover {
  background-color: #2980B9; 
}


/** Css edit_Markdown **/

.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 3.5rem;
  background-color: bisque;
  padding: .5rem;

}

.js-ct {
  display: flex;
  justify-content: space-between;
}

.writeMd {
  width: auto;
  height: auto;
}

textarea {
  padding: 10px 10px;
  width: 50vw;
  height: 90vh;

}

.toHtml {
  width: auto;
  height: auto;
  border: 1px solid #FDFDFFFF;
  overflow-y: auto;
}

.content {
  width: 50vw;
  height: 90vh;
}

.style-btn {
  width: 70px;
  height: 40px;
}