li {
  list-style: initial;
}

body {
  h1 {
    color: #333;
    font-size: 2.5em;
    font-weight: bold;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
  }

  h2 {
    color: #555;
    font-size: 2em;
    margin-top: 20px;
  }

  p {
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #444;
  }

  strong {
    font-weight: bold;
    color: #000;
  }

  em {
    font-style: italic;
    color: #666;
  }

  ul {
    margin-top: 10px;
    padding-left: 20px;
    list-style-type: disc;
  }

  code {
    background-color: #f4f4f4;
    padding: 2px 5px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 1em;
  }
}